{% extends "layout.html" %}
{% block title %} {{name}} {% endblock %}
{% block head %} {{ super() }} <link rel='stylesheet' href='/static/css/game.css'> {% endblock %}

{% block content %}
<br> <br>
 <img src="/static/images/bestBird.jpg" alt="Big Bird (Not Angry)" style="margin:auto;display:block;">
 <div style="margin-left:15%;margin-right:15%;width:70%;text-align:center;">
   <h1> Hey hey Hey! </h1>
   <h2> It's great to be a restaurant manager at Big Birds Restaurant! </h2>
   <br>
   <p>
     Our favorite feathered fellow has recently been kicked off Sesame Street for his
     numerous crimes against humanity, including tax evasion, embezzling funds
     from the Sesame Street production budget alongside Oscar the Grouch, and overall
     being a public nuisance and a menace to society. Which is why he needs to raise enough
     money to take his revenge! Assist Big Bird in his quest to right the wrongs the Sesame Street
     Gang has inflicted on our hero.
   </p>
   <br>
   <h3> But to do so, you'll need to learn a thing or two <br> about how to run a restaurant, buckaroo!</h3>
   <ol style="text-align:left;">
     <li> <h5> Saving And Loading </h5> </li>
     <p>
       After a long day's work, you'd hate to lose your progress, don't you? Thankfully, the good folks
       at Big Bird Inc. R&D have created a revolutionary time machine, allowing you to SAVE and
       LOAD periods of time in the life span of your restaurant for you to revisit at your own leisure!
       <br> <br>
       Managers who have LOGGED IN are able to SAVE, LOGOUT, LOG BACK IN at some point
       in the future, and LOAD old instances of time without breaking a sweat! If a manager does not
       LOGIN, they can still SAVE and LOAD - their SAVES and LOADS will be stored locally, however.
       Meaning, if they exit the game, all their precious progress is gone for good. It's a good thing lost
       game progress feeds the hungry Big Bird!
    </p>
    <li> <h5> Objects: Building Them </h5> </li>
    <p>
      Recent advances in the struggles to combat global warming have brought us the power to instantly
      build objects that eject greenhouse gases outside of our atmosphere. Thankfully, that technology was
      made public, and we are now using it in our own restaurants! How exciting!
      <br> <br>
      Managers can click the TOGGLE BUILD MODE BUTTON to convert their restaurant into a grid
      of squares at an instant! PRESSING THE ZERO KEY ON THE MANAGER'S KEYBOARD will
      display a LIST OF ITEMS the manager can have built, complete with their names and respective price!
      You can then CLICK the SELECT BUTTON corresponding to the object you want to build.
      Doing so will display that object on the grid of squares. Use the ARROW KEYS of WASD to move around
      the gray box. Use the I BUTTON on your COMPANY STANDARD 	&trade;&reg;&copy; KEYBOARD
      to build the object!
    </p>
    <li> <h5> Objects: What Do </h5> </li>
    <p>
      He's keeping me hostage. Please ... help me. The Bird is forcing me to make this game...
      <ul>
      <li>TABLE - allows customers to sit on any chairs attached to the table. Tables cannot be built next to a chair attached to another table.</li>
      <li>CHAIR - allows customers to sit, if the chair is attached to a table. Chairs that are not attached to a table will get no customers sitting on them.</li>
      <li>KITCHEN COUNTER - allows you to obtain more servers. The number of servers is equal to the number of kitchen counters minus two. Counters can only be built on the bottom row of the grid. </li>
      <li>CACTUS - a pretty piece of decoration.</li>
      <li>PLANT - a disgusting piece of decoration.</li>
      <li>BARSTOOL - acts as a chair that does not need a table. It costs more than having one chair attached to one table, but allows for more compact seating arrangements.</li>
      </ul>
    </p>
  </ol>
</div>
<br>
<br>
<br>
{% endblock %}
