{% extends "layout.html" %}
{% block title %} {{name}} {% endblock %}
{% block head %} {{ super() }} <link rel='stylesheet' href='/static/css/game.css'> {% endblock %}

{% block content %}
<main style="margin-top:4%;">
	<div style="height:600px;display:flex;flex-direction:row;align-items:stretch;justify-content:space-around;">
		<div style="display:flex;flex-direction:column;justify-content:flex-start;">
			<h1 id="money-counter" style="font-family:Courier New;border-left: 14px solid red; border-radius:12px; padding: 5px; background-color:lightgray;margin-top:5%;"> Money Counter: $xxxx  </h1>
			<h1 id="time-counter" style="font-family:Courier New;border-left: 14px solid #86DC3D; border-radius:12px; padding: 5px; background-color:lightgray;margin-top:5%;"> Time:  </h1>
			<div style="display:flex;flex-direction:row;">
				<button id="saveButton" style="margin:auto;">Save</button>
				<button id="loadButton" style="margin:auto;">Load</button>
				<button id="buildToggleButton" style="margin:auto;">Toggle Build Mode</button>
			</div>
			<div style="padding-top: 5%;padding-bottom: 5%;"></div>
			<div style="font-size:1.2em;">
				<div id="searchQueryText">
					<pre>🔎: __</pre>
				</div>
				<div id="searchResults" class="scrollable">

				</div>
			</div>
		</div>
		<center>
			<canvas style="border:1px solid black;" id="drawing" width="800" height="600"> </canvas>
		</center>
	</div>
	<script>
		var promptSave = ({% if saveavailable %}true{% else %}false{% endif %}) || 'save' in localStorage;
	</script>
	<script type='application/javascript' src='/static/js/save.js'></script>
	<script type='application/javascript' src='/static/js/game.js'></script>
	<script type='application/javascript' src='/static/js/objects.js'></script>
</main>
{% endblock %}
